*.o
*.lo

CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

.DS_Store
.idea
UserInterfaceState.xcuserstate
cppcheck.xml

Test-AndroidStudio.iml

src/wrappers/java/*.java
src/wrappers/java/interface_wrap.*

*.userprefs
