*.o
*.lo

CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

.DS_Store
.idea
UserInterfaceState.xcuserstate
cppcheck.xml

Test-AndroidStudio.iml

src/jni/*.java
src/jni/interface_wrap.*

*.userprefs
