*.o
*.lo

CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
build/

# iOS/XCode
.DS_Store
.idea
UserInterfaceState.xcuserstate
cppcheck.xml
xcuserdata/
DerivedData/

# Android/IntelliJ
Test-AndroidStudio.iml
.externalNativeBuild

src/wrappers/java/*.java
src/wrappers/java/interface_wrap.*
src/wrappers/python/Surge.cpp

*.userprefs

# Xamarin
bin/
obj/
packages/
*.aar
*.framework/

# Visual Studio Code
.vs